---
import RichResults from "@/components/interface/RichResults.astro";

interface Preload {
    as: string;
    href: string;
    type: string;
    rel?: "preload" | "prefetch";
    crossorigin?: string;
}

interface Props {
    title: string;
    description: string;
    preload?: Array<Preload>;
    canonical?: string;
    image?: string;
}

const {
    title,
    description,
    preload,
    canonical,
    image = "https://www.proviser-chile.cl/metadata.jpeg",
} = Astro.props as Props;
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

{
    preload?.map(({ href, as, type, rel = "preload", crossorigin }) => (
        <link {rel} {href} {as} {type} {crossorigin} />
    ))
}

<link rel="canonical" href={canonical} />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#1c398e" />

<meta
    name="keywords"
    content="Proviser, Proviser Chile, Proviser Chile S.A., Proviser Chile S.A. Abastecimiento Industrial, Proviser Chile S.A. Abastecimiento Industrial y Servicios de Alimentación Colectiva, Proviser Chile S.A. Abastecimiento Industrial y Servicios de Alimentación Colectiva en Chile, Proviser Chile S.A. Abastecimiento Industrial y Servicios de Alimentación Colectiva en Chile y Sudamérica, Proviser Chile S.A. Abastecimiento Industrial y Servicios de Alimentación Colectiva en Chile y Sudamérica con más de 20 años de experiencia, Proviser Chile S.A. Abastecimiento Industrial y Servicios de Alimentación Colectiva en Chile y Sudamérica con más de 20 años de experiencia en el rubro, Proviser Chile S.A. Abastecimiento Industrial y Servicios de Alimentación Colectiva en Chile y Sudamérica con más de 20 años de experiencia en el rubro y con un equipo altamente calificado, Proviser Chile S.A. Abastecimiento Industrial y Servicios de Alimentación Colectiva en Chile y Sudamérica con más de 20 años de experiencia en el rubro y con un equipo altamente calificado para brindar un servicio de calidad, Proviser Chile S.A. Abastecimiento Industrial y Servicios de Alimentación Colectiva en Chile y Sudamérica con más de 20 años de experiencia en el rubro y con un equipo altamente calificado para brindar un servicio de calidad a nuestros clientes"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.url)} />

<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:site_name" content="Proviser Chile" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/favicon.ico" />

<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="msapplication-config" content="/browserconfig.xml" />

<script async src="https://www.googletagmanager.com/gtag/js?id=G-V31HQTRQSZ"
></script>
<script>
    //@ts-ignore
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        //@ts-ignore
        dataLayer.push(arguments);
    }
    //@ts-ignore
    gtag("js", new Date());
    //@ts-ignore
    gtag("config", "G-V31HQTRQSZ");
</script>

<!-- <script is:inline src="/registerSW.js"></script> -->
<!-- <link rel="manifest" href="/manifest.webmanifest" /> -->
<RichResults />
