---
import Footer from "@/components/interface/Footer.astro";
import Header from "@/components/interface/Header.astro";
import { ClientRouter } from "astro:transitions";
import SEO from "@/components/interface/SEO.astro";
interface Preload {
    as: string;
    href: string;
    type: string;
    rel?: "preload" | "prefetch";
    crossorigin?: string;
}

interface Props {
    title: string;
    description: string;
    preload?: Array<Preload>;
    canonical?: string;
    image?: string;
}

const { title, description, preload, canonical, image } = Astro.props;
import "@/styles/global.css";
---

<!doctype html>
<html lang="es">
    <head>
        <SEO
            canonical={canonical}
            description={description}
            image={image}
            preload={preload}
            title={title}
        />
        <ClientRouter />
    </head>
    <body class="relative bg-zinc-100">
        <div
            class="absolute h-full -z-10 w-full bg-[radial-gradient(#60a5fa_1px,transparent_1px)] [background-size:28px_28px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_50%,transparent_100%)] opacity-60"
        >
        </div>
        <Header />
        <slot />
        <Footer />
    </body>
</html>

<style>
    html {
        scroll-behavior: smooth;
    }
    body {
        margin: 0;
        width: 100%;
    }
</style>
